<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MongoDB CRUD OPERATION</title>
</head>
<body>
    <h1>MongoDB CRUD Operations</h1>
{{message}}
<br><br>
{{#if edit_id}}
<h3>update</h3>

<form action="/update_book/{{edit_id}}" method="post">

    <label for="">Title</label>
    <input type="text" name="title" value="{{edit_books.title}}">

    <label for="">Author</label>
    <input type="text" name="author" value="{{edit_books.author}}">

<input type="submit"> 
</form><br><br>

{{else}}

<h3>create</h3>
<form action="/store_books" method="post">

    <label for="">Title</label>
    <input type="text" name="title">

    <label for="">Author</label>
    <input type="text" name="author">

<input type="submit"> 
</form>
{{/if}}
    {{#each employees}}
    <ul>
        <li> {{this.title}} - {{this.author}}  <a href="/?edit_id={{this._id}}">Edit</a> <a href="/delete_book/?del_id={{this._id}}">Delete</a></li>
    </ul>
    {{/each}}
</body>
</html>